{{ define "title" }}
  {{ if .ProfileUser }}
    {{ .ProfileUser.Username }}'s Timeline
  {{ else }} 
    {{ if .IsPublic }}
      Public Timeline
    {{ else }}
      My Timeline
    {{ end }}
  {{ end }}
{{ end }}
{{ define "body" }}
<h2>{{ template "title" . }}</h2>
{{ if .User }} 
  {{ if .ProfileUser }}
    <div class="followstatus">
      {{ if eq .User.UserID .ProfileUser.UserID }} 
        This is you! 
      {{ else }} 
        {{ if .Followed }}
          You are currently following this user.
          <a class="unfollow" href="/{{.ProfileUser.Username}}/unfollow">Unfollow user</a>. 
        {{ else }} 
          You are not yet following this user.
          <a class="follow" href="/{{.ProfileUser.Username}}/follow">Follow user</a>.
        {{ end }}
      {{ end }}
    </div>
  {{ else }}
    <div class="twitbox">
      <h3>What's on your mind {{ .User.Username }}?</h3>
      <form action="/add_message" method="post">
        <p>
          <input type="text" name="text" size="60" />
          <input type="submit" value="Share" />
        </p>
      </form>
    </div>
  {{ end }}
{{ end }}
<ul class="messages">
  {{ range .Usermessages }}
  <li>
    <img src="{{ .User.Gravatar 48 }}" />
    <p>
      <strong><a href="/{{.User.Username}}">{{ .User.Username }}</a></strong>
      {{ .Message.Text }}
      <small>&mdash; {{ .Message.FormatDatetime }}</small>
    </p>
  </li>
  {{ else }}
  <li>
    <em>There's no message so far.</em>
  </li>
  {{ end }}
</ul>

{{ end }}
