{{ define "title" }}{{ if eq .request.endpoint "public_timeline" }}Public
Timeline{{ else if eq .request.endpoint "user_timeline" }}{{
.profile_user.username }}'s Timeline {{ else }}My Timeline{{ end }}{{ end }} {{
define "body" }}
<h2>{{ template "title" }}</h2>
{{ if .user }} {{ if eq .request.endpoint "user_timeline" }}
<div class="followstatus">
  {{ if eq .user.user_id .profile_user.user_id }} This is you! {{ else if
  .followed }} You are currently following this user.
  <a class="unfollow" href="/{{.profile_user.username}}/unfollow"
    >Unfollow user</a
  >. {{ else }} You are not yet following this user.
  <a class="follow" href="/{{.profile_user.username}}/follow">Follow user</a>.
  {{ end }}
</div>
{{ end }} {{ end }}
<ul class="messages">
  {{ range .usermessages }}
  <li>
    <img src="{{ 48 | .user.gravatar }}" />
    <p>
      <strong><a href="/{{.user.username}}">{{ .user.username }}</a></strong>
      {{ .message.text }}
      <small>&mdash; {{ .message.format_datetime }}</small>
    </p>
  </li>
  {{ else }}
  <li>
    <em>There's no message so far.</em>
  </li>
  {{ end }}
</ul>

{{ end }}
